*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 100vh;
    position: relative;
}

/* immagini e background */
img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

/* contenuto */

p{
    text-transform: uppercase;
    color:yellow;
    font-size: 60px;
    font-weight: 800;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#green_content{
    color: green;
}