*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.box{
    height: 100vh;
    position: relative;
}

/* immagini e background */
img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

/* contenuto */

p{
    text-transform: uppercase;
    color:yellow;
    font-size: 60px;
    font-weight: 800;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#green_content{
    color: green;
}

/* link 1 2 3 */

a{
    text-decoration: none;
    color: black;
    border: 10px solid white;
    background-color: white;
    border-radius: 50%;
    padding: 2px 8px;

}

ul{
    display: flex;
    
    list-style: none;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 40px;
    margin-top: 40px;
}


header{
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
}